root = true

[*]
indent_style = space
insert_final_newline = true
charset = utf-8
end_of_line = lf

[*.{kt,kts}]
ij_kotlin_code_style_defaults = KOTLIN_OFFICIAL
ij_java_use_single_class_imports = true
max_line_length = off
trim_trailing_whitespace = true
# Trailing comma language feature requires Kotlin plugin 1.4+, at the moment the compilation is done with Kotlin 1.3.
# This helps IDEA to format the code properly, see also spotless { } in build.gradle.kts.
ij_kotlin_allow_trailing_comma = false # Only used for declaration site 
ij_kotlin_allow_trailing_comma_on_call_site = false

[*.bat]
end_of_line = crlf
