name: E2E tests

on:
  schedule:
    - cron: "0 6 * * MON"
  push:
    branches:
      - master
      - "e2e/**"
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout project with submodules
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      with:
        submodules: true

    - name: Setup JDK
      uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4
      with:
        java-version: 11
        distribution: 'zulu'

    - uses: gradle/actions/setup-gradle@748248ddd2a24f49513d8f472f81c3a07d4d50e1 # v4

    - name: Run sanity check
      run: ./gradlew --stacktrace test

    - name: Run E2E tests
      env:
        ORG_GRADLE_PROJECT_sonatypeUsernameE2E: ${{ secrets.SONATYPE_USERNAME_E2E }}
        ORG_GRADLE_PROJECT_sonatypePasswordE2E: ${{ secrets.SONATYPE_PASSWORD_E2E }}
        ORG_GRADLE_PROJECT_signingKeyE2E: ${{ secrets.GPG_SIGNING_KEY_E2E }}
        ORG_GRADLE_PROJECT_signingPasswordE2E: ${{ secrets.GPG_SIGNING_KEY_PASSPHRASE_E2E }}
      run: |
        ./gradlew --stacktrace -Pe2eVerboseOutput e2eTest
