name: CI

on:
  push:
    branches:
      - master
      - "szpak/**"
      - "marc/**"
  pull_request:
    branches:
      - '*'
  merge_group:

jobs:
  gradle:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:

    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2

    - uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 #4.7.0
      with:
        java-version: 11
        distribution: 'zulu'

    - uses: gradle/actions/setup-gradle@94baf225fe0a508e581a564467443d0e2379123b #v4.3.0

    - name: "Build and Test"
      run: ./gradlew --stacktrace build compatTestJava11
