name: CI

on:
  push:
    branches:
      - master
      - "szpak/**"
      - "marc/**"
  pull_request:
    branches:
      - '*'

jobs:
  gradle:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        java-version: 11
        distribution: 'zulu'
    - uses: gradle/gradle-build-action@v2
      with:
        arguments: --scan --stacktrace build

    - uses: actions/upload-artifact@v3
      with:
        name: ${{ matrix.os }} build folder
        path: ${{ github.workspace }}/build/
